<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Ticker</th>
                <th>Closing Price</th>
                <th>Closing Date</th>
            </tr>
        </thead>
        <tbody>
            {% for value in stocklist%}
            <tr>
                <td>{{ value[0] }}</td>
                <td>{{ value[1] }}</td>
                <td>{{ value[2] }}</td>
                <td>{{ value[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>